:root {
  --repo-gray-50: #FFFFFF;
  --repo-gray-100: #F8F8F8;
  --repo-gray-200: #E2E2E2;
  --repo-gray-300: #C9C9C9;
  --repo-gray-400: #ADADAD;
  --repo-gray-500: #919191;
  --repo-gray-600: #747474;
  --repo-gray-700: #565656;
  --repo-gray-800: #3A3A3A;
  --repo-gray-900: #1F1F1F;
  --repo-gray-950: #111111;

  --repo-main-disabled: #C8D7C6;
  --repo-main-lighter: #88EF75;
  --repo-main: #37E517;
  --repo-main-darker: #38C11F;

  --repo-bg-main-point: #43434B;
  --repo-bg-main-lighter: #212124;
  --repo-bg-main: #181819;

  --repo-state-info: #2F80ED;
  --repo-state-success: #1BB35B;
  --repo-state-warning: #F1BC19;
  --repo-state-error: #EB5757;

  --repo-text-black: #000000;
}
